@model Presentation.WebApp.Models.GymClassCardViewModel

<div class="class-card">

    <div class="class-card__category">
        @Model.Category
    </div>

    <h3>@Model.Name</h3>

    <p class="class-card__instructor">
        @Model.Instructor
    </p>

    <p class="class-card__time">
        @Model.StartTime.ToString("ddd dd MMM HH:mm")
    </p>

    <a
        asp-controller="Classes"
        asp-action="Details"
        asp-route-id="@Model.Id"
        class="class-btn">
        Book Class
    </a>

</div>